<div class="pre-section-background">
	<div class="page-description-content">		
		
		<div class="row">
			
			<div class="col-md-6" id="page-description-content-text-col-1">
				
			<div class="page-description-content-title">
			
				<h3>Digital Design & Development</h3>
			
			</div> <!-- page-description-content-title -->
				
			<p class="page-description-content-text">Soko Events brings together an intersectoral team of expert curators in the production of events related to science, technology and innovation. From the conception of the program to the final production, we cover all phases of the organization of small to major events. In these years we have organized quality and impact conferences, local and international, that have brought together more than 100,000 people: Smashing Conf, Maker Faire, YOMO, All Digital, (…).</p>
			
			</div> <!-- col -->
			
			<div class="col-md-6" id="page-description-content-text-col-2">
			
			<img id="page-description-content-img" class="img-responsive" src="/images/events-content/sokotech-events-1a.jpg" alt="events-sokotech"/>
			
			</div> <!-- col -->					
			
		</div>  <!-- row -->		
		
	</div> <!-- page-description-content -->
    
	
</div> <!-- pre-section-background -->


<div class="page-no-gallery-spacer"> </div>  <!-- page-no-gallery-spacer -->


<!-- <div class="container">
	<div class="events-project-area">
		
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
	    
      <h2>Projects</h2>
      <p>We work on 6 different areas:</p>
      
    </div> <!-- col -->
    
<!-- </div> <!-- container -->


<!--<div id="fh5co-gallery" class="events-projects-gallery">
  {{ range .Site.Params.work.item }}
  <a href="{{ .link }}" class="fh5co-item" style="background-image: url({{ .img | absURL }})">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-copy">
      <div class="fh5co-copy-inner">
	<h2>{{ .title }}</h2>
	{{ if isset . "subtitle" }}
	<h3>{{ .subtitle }}</h3>
	{{ end }}
      </div>
    </div>
  </a>
  {{ end }}
</div> <!-- END fh5co-gallery -->