<div class="js-sticky">
  <div class="fh5co-main-nav-page">
    <div class="container">
      <div class="fh5co-menu-1-page">

	<a href="../index.html" data-nav-section="home">{{ with .Site.Params.nav }}{{ if isset . "logo" }}<img class="nav-logo" src={{ .logo | absURL }} height="50px" alt="sokotech-logo">{{ end }}{{ if (not (isset . "logo")) }}Home{{ end }}{{ end }}</a>

	{{ if .Site.Params.mission.enable }}
	<a id="fh5co-menu-1-page-item" href="../index.html#mission-section" data-nav-section="mission">{{ with .Site.Params.nav.mission }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.services.enable }}
	<a id="fh5co-menu-1-page-item" href="../index.html#project-section" data-nav-section="services">{{ with .Site.Params.nav.services }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.team.enable }}
	<a id="fh5co-menu-1-page-item" href="../index.html#team-section" data-nav-section="team">{{ with .Site.Params.nav.team }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.contact.enable }}
	<a id="fh5co-menu-1-page-item" href="../index.html#contact-section" data-nav-section="contact">{{ with .Site.Params.nav.contact }}{{ . | markdownify }}{{ end }}</a>
	{{ end }}
	
      </div>
    </div>
  </div>
</div>

