<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
    {{ partial "header.html" . }}
  </head>
  <body class="eupopup eupopup-top"> 	<!-- cookie policy -->
	  

    <!-- Loader -->
    <div class="fh5co-loader"></div>
    <div class="fh5co-page">
      <div id="fh5co-container">
	
	{{ partial "hero.html" . }}
	
	{{ partial "nav.html" . }}

    <div id="mission-section">
	    
	{{ if .Site.Params.mission.enable }}
	{{ partial "mission.html" . }}
	{{ end }}
    </div>
    
    <div id="project-section">
	
	{{ if .Site.Params.services.enable }}
	{{ partial "services.html" . }}
	{{ end }}
	
    </div>

<div  class="home-latest-projects-section">
	
	{{ if .Site.Params.work.enable }}
	{{ partial "gallery.html" . }}
	{{ end }}
	
</div> <!--home-latest-projects-section-->


<div class="home-companies-section">

	<div id="fh5co-companies" data-section="companies">
	
	    <div class="container">
		    
		    <div class="row">
		    
			    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
		            <h2>Companies who trust us:</h2>
		        </div>
	        
		    </div> <!--row-->
	    
	        <div class="companies-logos">
		        
	
			        
			        <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/01_google_soko_tech.png" alt="sokotech companies google" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/02_mit_soko_tech.png" alt="sokotech companies mit" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/03_smashing_soko_tech.png" alt="sokotech companies smashing conference" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/04_maker_faire_soko_tech.png" alt="sokotech companies maker faire" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/05_basf_soko_tech.png" alt="sokotech-basf" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/06_industry_soko_tech.png" alt="sokotech companies min3dustry" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/07_lacaixa_soko_tech.png" alt="sokotech companies lacaixa" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/08_mobile_world_congress_soko_tech.png" alt="sokotech companies mobile world congress" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/09_telefonica_soko_tech.png" alt="sokotech-companies telefonica" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/10_ajuntament_barcelona_soko_tech.png" alt="sokotech companies ajuntament barcelona" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/11_gb_foods_soko_tech.png" alt="sokotech companies GB foods" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/12_fablab_bcn_soko_tech.png" alt="sokotech companies fablab barcelona" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/13_la_salle_soko_tech.png" alt="sokotech companies La Salle" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/14_fira_bcn_soko_tech.png" alt="sokotech companies fira barcelona" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/15_nasa_soko_tech.png" alt="sokotech companies nasa" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/16_carnegie_mellon_soko_tech.png" alt="sokotech companies carnegie mellon" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/17_gigapan_soko_tech.png" alt="sokotech companies gigapan" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
				    
				    
				    <div class="col-md-3">
			
					   <div class="companies-logo">
						   <img class="img-responsive" src="images/companies-logos/18_budweiser_soko_tech.png" alt="sokotech companies budweiser" />
					   </div> <!--companies-logo-->
						   
				    </div> <!--col-->
		        
	
		        
	        </div> <!--companies logos-->
	        
	    </div> <!--container-->
	    
	</div> <!-- END fh5co-companies -->
	
</div> <!--companies-section-->

<div id="team-section">	
	{{ if .Site.Params.team.enable }}
	{{ partial "team.html" .}}
	{{ end }}
</div>

<div id="contact-section">

    {{ if .Site.Params.contact.enable }}
	{{ partial "contact.html" .}}
	{{ end }}
	
</div>
	
	{{ if .Site.Params.footer.enable }}
	{{ partial "footer.html" .}}
	{{ end }}
      
      </div>
    </div>
    
    {{ partial "js.html" .}}
    
  </body>
</html>
