<div class="pre-section-background">
	<div class="page-description-content">		
		
		<div class="row">
			
			<div class="col-md-6" id="page-description-content-text-col-1">
				
			<div class="page-description-content-title">
			
				<h3>SokoKids</h3>
			
			</div> <!-- page-description-content-title -->
				
			<p class="page-description-content-text">Applying the project-based learning methodology, this area offers a program of extra-curricular activities that focuses on personalized learning, which uses creativity, teamwork and trial-error solutions, which encourage you to take risks and Learn from the error, in tune with the real world. The purpose, methodology and proposals of Soko Kids are being extended beyond the center with the organization of all kinds of small and large format Adhoc events for schools, public or private institutions, companies or in the framework of singular activities in the city.</p>
						
			</div> <!-- col -->
			
			<div class="col-md-6" id="page-description-content-text-col-2">
			
			<img id="page-description-content-img" class="img-responsive" src="/images/events-content/sokotech-events-1a.jpg" alt="events-sokotech"/>
			
			</div> <!-- col -->					
			
		</div>  <!-- row -->		
		
	</div> <!-- page-description-content -->
    
	
</div> <!-- pre-section-background -->




<div class="page-no-gallery-spacer"> </div>  <!-- page-no-gallery-spacer -->




<!----------------------------------------- Projects Gallery ------------------------------------------->




<!-- <div class="container">
	<div class="events-project-area">
		
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
	    
      <h2>Our Space</h2>
      <p>We offer 2 different areas:</p>
      
    </div> <!-- col -->
    
<!-- </div> <!-- container -->


<!-- <div id="fh5co-gallery" class="events-projects-gallery">
  {{ range .Site.Params.work.item }}
  <a href="{{ .link }}" class="fh5co-item" style="background-image: url({{ .img | absURL }})">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-copy">
      <div class="fh5co-copy-inner">
	<h2>{{ .title }}</h2>
	{{ if isset . "subtitle" }}
	<h3>{{ .subtitle }}</h3>
	{{ end }}
      </div>
    </div>
  </a>
  {{ end }}
</div> <!-- END fh5co-gallery -->