
	
	
<div class="team-section">
		

<!--------------------------------------------------------------------- MARIONA ---------------------->		


	<div class="team-description-content" id="mariona">	
					

			<img id="team-description-img" class="img-responsive" src="/images/team/mariona-sokotech.png" alt="mariona-sokotech"/>
			
				
			<div class="team-description-content-title">
			
				<h3>Mariona</h3>
			
			</div> <!-- page-description-content-title -->
				
			<p class="team-description-content-text">In love with science & technology, the open web, net neutrality, human-oriented, data-driven design and decisions. Technology + Science events and programs curator + producer.
 
Passionate about open source hardware and software, graphic and web design, programming and digital fabrication. When not on the road producing events she designs initiatives for children and youth at Soko, our chocolate factory converted into a digital fabrication laboratory (fab lab).
 
University of Illinois, B.F.A. Visual Communication and Art History, cum laude, M.Sc Professional Media & Media Management. Massachusetts Institute of Technology (MIT) Fab Academy. Her thesis “Free Culture Project”, which combines the power of technology with the transforming power of education, was a turning point in her career, towards areas for redesigning the world of teaching and learning, trying out new models with the most advanced technologies.
</p>
			
						
	</div> <!-- team-description-content -->
	
	<hr class="team-hr" />	

<div class="page-no-gallery-spacer"> </div>  <!-- page-no-gallery-spacer -->		








<!--------------------------------------------------------------------- IAN ---------------------->		


	<div class="team-description-content" id="ian">	
					

			<img id="team-description-img" class="img-responsive" src="/images/team/ian-sokotech.png" alt="ian-sokotech"/>
			
				
			<div class="team-description-content-title">
			
				<h3>Ian</h3>
			
			</div> <!-- page-description-content-title -->
				
			<p class="team-description-content-text">Takes his first steps in Carbondale, Southern Illinois (USA) where while discovering the world and self-learning, encouraged by their teachers, takes care for a vegetable garden in a Montessori Kindergarten. At the age of four he travels to Barcelona, where he begins to program in his computer and then to read. He is passionate about robotics and math as well as playing and sharing with his friends the world of MineCraft and other video games. Inquisitive and curious, he is constantly searching new challenges and information, through Internet & YouTube.</p>
			
						
	</div> <!-- team-description-content -->
	
	<hr class="team-hr" />	

<div class="page-no-gallery-spacer"> </div>  <!-- page-no-gallery-spacer -->







<!--------------------------------------------------------------------- ANNA ---------------------->		


	<div class="team-description-content" id="anna">	
					

			<img id="team-description-img" class="img-responsive" src="/images/team/anna-sokotech.png" alt="anna-sokotech"/>
			
				
			<div class="team-description-content-title">
			
				<h3>Anna</h3>
			
			</div> <!-- page-description-content-title -->
				
			<p class="team-description-content-text">Engineer turned manager of music, culture and technology industry. Anna has been responsible for talks and workshops and content assistant at Sonar+D, the congress where technology and creative industries converge.
 
Organizer of events at the Initiative for Technological Sovereignty of Barcelona (BITS), led by research centers and Universities such as IN3 / UOC and IGOP / UAB, and with the support of a network of academics and activists of social movements, BITS explores how advanced information technologies can shape alternative political, economic and urban agendas.
Anna is also responsible for the implementation of maker development and digital social innovation programs in Barcelona for the City Council, and coordinates events and programs with STEAM content for children between 5 and 15 years, as well as for adults in SoKo Tech.
Previously, he was the technical manager of Cogen, an association that promotes energy efficiency projects with cogeneration.
 
Chemical Engineer from the Polytechnic University of Catalonia (UPC), Anna is also postgraduate in Music Industry Business Management by the Pompeu Fabra University.
</p>
			
						
	</div> <!-- team-description-content -->
	
	<hr class="team-hr" />	

<div class="page-no-gallery-spacer"> </div>  <!-- page-no-gallery-spacer -->







<!--------------------------------------------------------------------- GABY ---------------------->		


	<div class="team-description-content" id="gaby">	
					

			<img id="team-description-img" class="img-responsive" src="/images/team/gaby-sokotech.png" alt="gaby-sokotech"/>
			
				
			<div class="team-description-content-title">
			
				<h3>Gaby</h3>
			
			</div> <!-- page-description-content-title -->
				
			<p class="team-description-content-text">Started her studies in Industrial Process Engineering in Mexico and specialized in Project Management in Barcelona. Her training and her concerns have led her to work in different areas of the value chain, both in the production of products and the design of services. After 13 years of working in different multinational environments, her passion for innovation and concern about "the Future" lead her to collaborate on projects and organizations linked to sustainability, such as Circular Economy, Maker manufacture, and even more crucial for her: the new educational models. She is an active member and leader of event production on Ouishare.net and leader of the educational project of Aquapioneers.io both based in Barcelona. Its objective, as a transition generation, is to help in the design, innovation and diffusion of new mechanisms that adapt to the current needs of the environment and contribute to a sustainable future.</p>
			
						
	</div> <!-- team-description-content -->
	
	<hr class="team-hr" />	

<div class="page-no-gallery-spacer"> </div>  <!-- page-no-gallery-spacer -->





<!--------------------------------------------------------------------- PACA ---------------------->		


	<div class="team-description-content" id="paca">	
					

			<img id="team-description-img" class="img-responsive" src="/images/team/paca-sokotech.jpg" alt="paca-sokotech"/>
			
				
			<div class="team-description-content-title">
			
				<h3>Paca</h3>
			
			</div> <!-- page-description-content-title -->
				
			<p class="team-description-content-text">Former director of the communication department at “la Caixa” Foundation, director of international relations and programs of CosmoCaixa, the Museum of Science of Barcelona and executive director of the European Network of Science Centers and Museums (ECSITE). At present she is Soko’s senior advisor & a jack of all trades" as she described herself, who with a hand contacts Professors at MIT while with the other stirs food in the pan for the many dinners she loves to prepare at her lovely home.</p>
			
						
	</div> <!-- team-description-content -->
	
	<hr class="team-hr" />	

<div class="page-no-gallery-spacer"> </div>  <!-- page-no-gallery-spacer -->





<!--------------------------------------------------------------------- EDGAR ---------------------->		


	<div class="team-description-content" id="edgar">	
					

			<img id="team-description-img" class="img-responsive" src="/images/team/edgar-sokotech.png" alt="edgar-sokotech"/>
			
				
			<div class="team-description-content-title">
			
				<h3>Edgar</h3>
			
			</div> <!-- page-description-content-title -->
				
			<p class="team-description-content-text">Industrial product designer, is also a graphic and spaces designer. Professional photographer and expert in digital manufacturing, graduated from the Fab Academy by the Massachusetts Institute of Technology (MIT).
 
Edgar is a specialist in commercial, visual and retail design by Artidi, holds a Master in fashion photography and advertising, a postgraduate in postproduction of photography and film/video, both by IDEP. A Master in Product Design, by Elisava and graduated in Industrial Design from Rafael Landívar University of Guatemala (2004-2008).
 
He worked for Fab Lab Barcelona, StartupBootcamp IoT & Data, Maker Faire Barcelona, Counterpart Int. to name a few.

In the field of training, he has been a professor at the Rafael Landivar University (Guatemala) in the areas of prototyping (sculpting, modeling, materials, finishes, human factors (ergonomics in design) and 3D modeling and rendering (CAD), currently he is the SokoTech leader for the Orange youth social inclusion project Breakers Lab.
</p>
			
						
	</div> <!-- team-description-content -->
	
	<hr class="team-hr" />	

<div class="page-no-gallery-spacer"> </div>  <!-- page-no-gallery-spacer -->





<!--------------------------------------------------------------------- MARC ---------------------->		


	<div class="team-description-content" id="marc">	
					

			<img id="team-description-img" class="img-responsive" src="/images/team/marc-sokotech.jpg" alt="edgar-sokotech"/>
			
				
			<div class="team-description-content-title">
			
				<h3>Marc</h3>
			
			</div> <!-- page-description-content-title -->
				
			<p class="team-description-content-text">Passionate about design and programming from a very early age, he is architect by the Barcelona School of Architecture of the Polytechnic University of Catalunya (UPC). Marc has participated in programming and design of video game scenarios and has been responsible for the design, layout and coordination of the Youth Mobile World Congress 2016, 2017 and 2018.

Also passionate about manufacturing, programming, gamification, and especially, with the new methodologies of education and leisure, it delves into everything that motivates the kids to learn!

With 6 years of experience in new technologies learning methodologies, programming, robotics and digital manufacturing, he has produced several avant-garde teaching guides for the sector. Marc, is currently Director of SokoKids where is devoted to the design of workshops and pedagogic technological methods aimed at making children , adolescents and citizens develop skills, creativity and critical thinking.</p>
			
						
	</div> <!-- team-description-content -->
	
	<hr class="team-hr" />	

<div class="page-no-gallery-spacer"> </div>  <!-- page-no-gallery-spacer -->







<!--------------------------------------------------------------------- UMA ---------------------->		


	<div class="team-description-content" id="uma">	
					

			<img id="team-description-img" class="img-responsive" src="/images/team/uma-sokotech.jpg" alt="uma-sokotech"/>
			
				
			<div class="team-description-content-title">
			
				<h3>Uma</h3>
			
			</div> <!-- page-description-content-title -->
				
			<p class="team-description-content-text">Receptionist by vocation executes her work with efficiency and enthusiasm providing guests with a highly & friendly welcome. She adores to greet and lionize anyone who visits SOKO with a very good mood, she is also in charge, of the neighborhood public relations.</p>
			
						
	</div> <!-- team-description-content -->
	
	<hr class="team-hr" />	

<div class="page-no-gallery-spacer"> </div>  <!-- page-no-gallery-spacer -->













		
	



</div>  <!-- team description --> 



